/* ====large devices===== */
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

/* ====Medium devices===== */
@media (max-width: 992px) {
  .container {
    width: 100%;
  }
  nav {
    flex-wrap: wrap;
    padding: 20px;
  }
  .myNotes {
    flex-wrap: wrap;
  }
  .myNotes .notesItem {
    width: 50%;
  }
  #secondBrainPart {
    padding: 60px 20px;
  }
  .brainItems {
    gap: 20px;
    flex-wrap: wrap;
    /* padding: 0 20px; */
  }
  #clearPart {
    padding-bottom: 0px;
  }
  #footerPart {
    padding: 100px 20px 0 20px;
  }
}

/* ====Small devices===== */
@media (max-width: 768px) {
  .container {
    width: 100%;
    gap: 20px;
  }
  nav {
    flex-wrap: wrap;
    padding: 20px;
  }
  nav ul {
    gap: 20px;
  }
  .smallBtn {
    margin: 0 auto;
  }
  #bannerPart {
    padding: 70px 0;
  }
  .bannerDetails h2 {
    font-size: 52px;
    padding: 10px 0;
  }
  .bannerDetails .bannerPara {
    width: 90%;
    margin-bottom: 30px;
  }
  .smallDevice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .myNotes {
    flex-wrap: wrap;
  }
  .myNotes .notesItem {
    width: 50%;
  }
  .noteHeading h2 {
    font-size: 40px;
  }
  #secondBrainPart {
    padding: 60px 20px;
  }
  .brainImage img {
    width: 100%;
  }
  .brainItems {
    flex-direction: column;
  }
  #clearPart {
    padding-bottom: 0px;
  }
  #footerPart {
    padding: 70px 20px 0px 20px;
  }
}
/* =====Extra small devices===== */
@media (max-width: 576px) {
  .container {
    width: 90%;
    gap: 20px;
  }
  nav,
  .myNotes,
  .brainItems {
    flex-direction: column;
  }
  #bannerPart {
    padding: 50px 0;
  }
  .bannerDetails h2 {
    font-size: 52px;
    padding: 10px 0;
  }
  .bannerDetails .bannerPara {
    width: 90%;
  }
  .myNotes .notesItem {
    width: 90%;
  }
  #secondBrainPart {
    padding: 60px 0;
  }
  .brainImage img {
    width: 100%;
  }
  .brainRight {
    padding: 20px;
  }
  .thinkMore p {
    width: 90%;
  }
  #footerPart {
    padding-top: 60px;
  }
}
