@import url("./common.css");
/* =====Navbar css===== */
nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 32px;
  color: black;
  font-weight: 500;
}
nav ul li a {
  color: #000000;
}
.navBtn:hover {
  color: #000000;
}
/* =====Banner css===== */
#bannerPart {
  padding: 115.5px 0 179.5px 0;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bannerDetails {
  text-align: center;
}
.bannerAccess {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #469165;
  width: 229px;
  border-radius: 20px;
  padding: 5px 0;
  margin: 0 auto;
  gap: 5px;
}
.accessText {
  color: #469165;
}
.bannerDetails h2 {
  font-size: 72px;
  padding: 16px 0;
  font-weight: 700;
  color: #ffffff;
}
.bannerDetails .bannerHeading--modify {
  color: #30b868;
}
.bannerDetails .bannerPara {
  color: #ffffff;
  width: 50%;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.btn--modify {
  background-color: transparent;
  border: 1px solid #ffffff;
  margin-left: 15px;
}
.btn--modify:hover {
  background-color: #469165;
}
/* =====Note Section css===== */
#notePart {
  padding: 60px 0 44px 0;
  text-align: center;
}
.noteHeading h2 {
  margin-bottom: 16px;
  color: #001931;
  font-weight: 700;
  font-size: 48px;
}
.noteHeading p {
  color: #627382;
}
.myNotes {
  display: flex;
  justify-content: space-between;
}
.myNotes .notesItem {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 70px 24px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.notesItem img {
  background-color: #f95555;
  padding: 14px;
  border-radius: 50%;
}
.notesItem h3 {
  font-weight: 600;
  font-size: 24px;
}
.notesItem p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}
/* =====Second brain section css===== */
#secondBrainPart {
  padding: 120px 0;
}
.brainItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.brainRight h4 {
  color: #469165;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.brainRight h1 {
  font-weight: 700;
  font-size: 60px;
  color: #001931;
  margin-bottom: 16px;
}
.brainRight .brainRightPara {
  color: #627382;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 20px;
}
.brainInstruction {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  line-height: 20px;
  font-weight: 500;
}
/* =====Think clearly section css===== */
#clearPart {
  padding-bottom: 120px;
}
.thinkMore {
  background-color: #f7f6f2;
  text-align: center;
  padding: 80px 0;
}
.thinkMore h2 {
  color: #001931;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
}
.thinkMore p {
  color: #627382;
  font-size: 18px;
  line-height: 20px;

  width: 50%;
  margin: 24px auto;
}
.thinBtn--modify {
  margin-bottom: 16px;
}
/* =====Footer section css===== */
